.swiper {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

}

.categoryName {
    position: absolute;
    margin-top: -50px;
    font-family: Gilroy, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}
