.footer {

    position: fixed;
    left: 0;
    bottom: 0;
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center center;
    background-size: cover;

}

.footerItemsWrapper {
    display: flex;
}

.footerItem {

    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    background-color: #D7DD8D;

}

.footerSwiper {

    margin-top: 40px;

}

.swiperSlide {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;

}


.footerItemImg {
    margin-top: 5px;
}

