@media only screen and (max-width: 372px) {
    .foodCard {
        margin: 3px !important;
    }
}

.foodCard {

    text-align: center;
    width: 170px;
    height: 185px;
    border: 5px solid #8DADDD;
    border-radius: 25%;
    backdrop-filter: blur(10px);
    margin: 8px;

}

.foodImg {

}

.foodTitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: -20px;
}

.foodCaption {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.foodWeight {

}

.foodCost {


}
